target/
.git/
.gitignore
.idea/
.vscode/
*.log
*.tmp
Dockerfile
.dockerignore
README.md
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
